/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*以下正式開始*/

body {
    background-color: #181818;
    color: #fff;
    

}

.wrap {
    margin: 0 auto;
    width: 800px; /*測試*/
    height: 600px;
    /* border-style: solid;
    border-color: #fff;
    border-width: 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.beginning {
    margin: 0 auto;
    width: 500px; /*測試*/
    height: 300px;
    border-style: solid;
    border-color: #fff;
    border-width: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
}


.loginBtn {
    display: block;
    width: 200px;
    background-color: #F8F9F9;
    color: #626567;
    text-align: center;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: "微軟正黑體";
    border-radius: 12px;
}

.after {
    background-color: #F8F9F9;
    width: 400px; /*測試*/
    height: 500px;
    padding: 20px;
    /* display: flex;
    justify-content: center; */
    border-radius: 20px;
    color: #626567;
    font-family: "微軟正黑體";
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.after img {
    margin-bottom: 70px;
}

